# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
bank.db
db_config.json

# Environments
.env
venv/
env/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
